{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Edit Item</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render form fields, including the expiration date -->
        <button type="submit" class="btn btn-success">Update Item</button>
    </form>

    <!-- Delete Button -->
    <form method="post" action="{% url 'delete_item' item.id %}" style="margin-top: 20px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete Item</button>
    </form>
</div>
{% endblock %}
